@import "./variables.scss";

.dashboard {
  .dashboard__body {
    margin-top: 53px;
    @media (min-width: 600px) {
        width: $screenWidth;
        margin: 0 auto;
        max-width: 80vw;
        margin-top: 83px;
    }
    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .dashboard__sidebar {
      display: none;
    }
    @media (min-width: 1000px) {
      .dashboard__timline {
        grid-column-start: 1;
        grid-column-end: 3;
        padding-right: 20px;
      }
      .dashboard__sidebar {
        display: revert;
        padding-left: 10px;
        position: fixed;
        width: 300px;
      }
    }
  }
}
