@import './variables.scss';

.dashboard{
    .dashboard__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: $screenWidth;
        margin: 0 auto;
        margin-top: 30px;
        .dashboard__timline {
            grid-column-start: 1;
            grid-column-end: 3;
            padding-right: 20px;
        }
        .dashboard__sidebar {
            padding-left: 10px;
        }
    }
}