@import './variables.scss';

.footer {
    margin: 30px 0 40px 0;
    .footer__top, .footer__bottom {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
        div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        p {
            font-size: 13px;
            color: $graySecondary;
            gap: 10px;
            text-transform: capitalize;
        }
    }
}

@media (min-width: 600px) {
    .footer {
    .footer__top, .footer__bottom {
        justify-content: center;
        gap: 20px;
        div {
            flex-direction: row;
            gap: 20px;
        }
    }}
}