@import "./variables.scss";

.header {
  display: flex;
  justify-content: center;
  height: 53px;
  background-color: white;
  border-bottom: 1px solid $grayPrimary;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $screenWidth;
    max-width: 90vw;
    .header__logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      img {
        max-width: 105px;
      }
    }
    .header__online {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-right: 10px;
      a{
        text-decoration: none;
        color: inherit;
      }
      svg {
        height: 30px;
        cursor: pointer;
      }
      button {
        height: 30px;
        width: 80px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        border: transparent;
        box-shadow: 0px 2px 4px $grayPrimary;
        background-color: $red;
        &:hover {
          opacity: 60%;
        }
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px $grayPrimary;
        cursor: pointer;
      }
    }
    .header__button {
      display: flex;
      gap: 20px;
      button {
        height: 30px;
        width: 80px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        border: transparent;
        box-shadow: 0px 3px 6px $grayPrimary;
        &:hover {
          opacity: 60%;
        }
      }
      .header__login {
        background-color: $blueSecondary;
      }
      .header__signup {
        background-color: $red;
      }
    }
  }
}
