.icons{
    .icons__all {
        display: flex;
        gap: 10px;
        padding: 5px 12px;
        svg {
            height: 35px;
            width: 35px;
        }
    }
    p {
        font-size: 14px;
        font-weight: bold;
        padding: 0 15px;
        
    }
}