@import './variables.scss';

.postHeader {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid $grayPrimary;
    .postHeader__profile {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
            width: 40px;
            border-radius: 50%;
        }
        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
    svg {
        height: 18px;
        width: 18px;
    }
}