@import './variables.scss';

.profile {
    .profile__body {
        max-width: $screenWidth;
        margin: 0 auto;
        .profile__user {
            display: flex;
            margin: 30px 0 40px 0;
            .profile__img {
                padding: 0 100px 0 70px;
                
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }

            .profile__info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .profile__infoTop {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    svg {
                        width: 22px;
                    }
                    button, label {
                        width: 95px;
                        height: 30px;
                        font-weight: 600;
                        border-radius: 3px;
                        border: none;
                        background-color: $bluePrimary;
                        color: white;
                        cursor: pointer;
                    }
                    label {
                        width: fit-content;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 8px ;
                        svg {
                            width: 20px;
                        }
                    }
                }
                .profile__username {
                    font-size: 28px;
                    font-weight: 300;
                    color: $graySecondary;
                }
                .profile__pff {
                    display: flex;
                    gap: 40px;
                    span {
                        font-weight: 600;
                    }
                }

                .profile__fullName {
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }

        .profile__post {
            border-top: 1px solid $grayPrimary;
            .profile__postTop {
                display: flex;
                justify-content: center;
                gap: 70px;
                padding: 20px 0;
                p {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 500;
                    color: $graySecondary;
                    position: relative;
                    display: flex;
                    gap: 5px;
                    cursor: pointer;
                    svg {
                        width: 15px;
                    }
                    span {
                        position: absolute;
                        width: 15px;
                        overflow: hidden;
                        transform: scaleY(-1);
                        right: 36px;
                        bottom:2px;
                    }
                }
            }

            .profile__postGrid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                gap: 30px;
                img {
                    width: 100%;       
                }
            }
        }
    }
}