@import './variables.scss';

.timeline {
    margin-bottom: 100px;
    .timeline__top{
        height: 110px;
        border: 1px solid $grayPrimary;
        border-radius: 3px;
        background-color: white;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        margin-bottom: 20px;
        .timeline__profileSkeleton {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        .timeline__profileImg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            p{
                font-size: 13px;
            }
        }
    }
    .timeline__post {
        border: 1px solid $grayPrimary;
        border-radius: 3px;
        background-color: white;
    }
}